* {
	padding:0;
	margin:0;
	font-family: sans-serif;
}
a {
	color: inherit;
	text-decoration: none;
}

.container {
	margin:0 auto;
}

.container:after {
	content:'';
	display: block;
	clear: both;
}

header ul {
	float: right;
}
header ul li {
	display: inline-block;
}
header ul li a {
	padding:25px 20px;
	display: inline-block;
}
header ul li a:hover {
	background-color: rgb(73, 73, 73);
	color: #fff;
}
.active {
	background-color:rgb(73, 73, 73);
	color: #fff;
}
.tittle {
	background-image: url('../img/background.jpg');
	background-size: cover;
	color: #fff;
	padding: 20px 20px;
	font-weight: bold;
}

.kuisioner {
	background-image: url('../img/background.jpg');
	background-size: cover;
}

.tittle h1 {
	width:fit-content;
	padding: 10px;
	margin-bottom: 10px;
	border:5px solid #fff;
}
.tittle h3 {
	color: rgb(73, 73, 73);
}
.banner {
	height: 60vh;
	background-image: url('../img/welcomeBanner.jpg');
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner:after {
	content:'';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url('../img/background.jpg');
	background-size: cover;
	opacity: 0.7;

}
header ul li a:hover {
	background-color: rgb(73, 73, 73);
	color: #fff;
}

.banner a:hover {
	background-color: rgb(255, 255, 255);
	color:rgb(73, 73, 73);
}

.banner a {
	background-color:rgb(73, 73, 73);
	margin: 30px;
	color: #fff;
	text-decoration: none;
	padding: 20px;
	border-radius:5em;
	z-index: 1;
}

.banner h2 {
	color: #fff;
	z-index: 1;
	padding: 20px 20px 20px 0px;
	text-align: left;
	border-right: 3px solid #fff;
}

section {
	padding:50px 0;
}
section h3 {
	text-align: center;
	padding:20px 0;
	color: #148F77;
	margin-bottom: 25px;
}

footer {
	padding:30px 0;
	background-color: #333;
	color: #fff;
	text-align: center;
}
.bg-loader {
	background-color: #eee;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bg-loader .loader {
	width:100px;
	height: 100px;
	border:3px solid #fff;
	border-radius: 50%;
	border-top-color: #148F77;
	border-right-color: #148F77;
	border-bottom-color: #148F77;
	animation: puterin .8s linear infinite;
}
.label {
	background-color: #148F77;
	color: #fff;
}

.display2 {
	width:50%;
	font-weight: bold;
	padding: 10px;
	color: #4a4a4a;
	border: 3px solid #4a4a4a;
	margin: 20px 5%;
}

.display {
	opacity: 0%;
}

.row {
	margin: 20px 5%;
	width: 50%;
}

button:hover{
	background-color:  #4a4a4a;
	color: #fff;
}


button {
	background-color: #fff;
	outline: none;
	border: none;
	text-align: center;
	padding: 10px 20px 10px 20px;
	margin: 5px 5px;
	border-radius: 2em;
	width: 150px;
}

#inputumur {
	background-color: #4a4a4a;
	color: #fff;
	width: 12%;
}

.input {
	margin: 20px 5%;
}

#inputan, #inputan2, #inputan3 {
	text-align: right;
	padding: 10px 10px;
	background-color: #fff;
	border: none;
	border-radius: 2em;
	width: 43%;
}

output {
	float: right;
	padding: 10px 20px 10px 20px;
	margin-right: 10%;
	justify-content: center;
	background-color: #4a4a4a;
	color: #fff;
	border-radius: 2em;
}

.aboutTitle, .tipsTitle {
	text-align: center;
	background-image: url('../img/background.jpg');
	background-size: cover;
	color: #4a4a4a;
	padding: 20px;
	margin-bottom: 50px;
	
}

.aboutTitle h3 {
	border: #4a4a4a 4px solid;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
	font-size: 20pt;
	
}

.tipsTitle {
	margin-top: 50px;
}

.tipsTitle h4 {
	border: #4a4a4a 2px solid;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
	background-image: none;
}

#atas {
	margin-top: 0px;
}

.aboutTitles {
	text-align: center;
	background-image: url('../img/background.jpg');
	background-size: cover;
	color: #4a4a4a;
	padding: 20px;
	margin-bottom: 50px;
	margin-bottom: 0;
	
}

.aboutTitles img {
	width: 500px;
}

.aboutTitles h3 {
	border: #4a4a4a 4px solid;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
	margin-bottom: 20px;
	font-size: 20pt;
	
}

.saran p {
	color: #fff;
	background-color: #4a4a4a;
	width: 70%;
	margin: 20pt 10%;
	padding: 20px;
	border-radius: 2em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.part1 {
	margin-right: 200px;
	
}

.part1:after {
	content:'';
	display: block;
	clear: both;
}

.part1 ul {
	list-style-type: none;
}

.part1 ul li {

	float: right;
	width: 40%;
	padding: 0 20px;
}

.part1 p {
	border-bottom: #4a4a4a 2px solid;
	text-align: center;
	padding-bottom: 10px;
	padding-right: 10px;
}

.part1 img {
	width: 400px;
}

#ptips {
	margin-top: 5%;
}

#rokok {
	margin-bottom: 50px;
}

.stroke .part1 p {
	margin-top: 20%;
}

.stroke h3 {
	margin: 50px auto;
}

.stroke h3, h4 {
	background-image: url('../img/background.jpg');
	background-size: cover;
	width: fit-content;
	padding: 20px;
	color: #4a4a4a;
}

#satu {

	margin-top: 15%;
}

.unchanged h4{
	margin-left: auto;
	margin-right: auto;
}

.unchanged ul:after {
	content:'';
	display: block;
	clear: both;
}


.stroke .unchanged ul {
	
	width: fit-content;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	list-style: none;
	
}


.stroke .unchanged ul li {
	background-color: #4a4a4a;
	color: #fff;
	padding: 10px 15px 10px 15px;
	margin-bottom: 5px;
	margin-top: 5px;
	border-radius: 2em;
	float: left;
	margin-left: 10px;
	width: 150px;
	text-align: center;
	
}

.changed h4, .unchanged h4{
	margin: 50px auto;
}

.changed ul:after {
	content:'';
	display: block;
	clear: both;
}


.stroke .changed ul {
	
	width: fit-content;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	list-style: none;
	margin-bottom: 50px;
	
}


.stroke .changed ul li {
	background-color: #4a4a4a;
	color: #fff;
	padding: 10px 15px 10px 15px;
	margin-bottom: 10px;
	margin-top: 5px;
	border-radius: 2em;
	margin-left: 10px;
	width: 200px;
	text-align: center;
	
}


.strokepredict {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 50px;
	width: 50%;
	padding: 20px;
	text-align: center;
	border-radius: 2em;
	color: #4a4a4a;
	background-image: url('../img/background.jpg');
	background-size: cover;
}

.rows {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

#eval {
	background-image: url('../img/background.jpg');
	background-size: cover;
	border: #fff 2px solid;
	font-size: large;
	
}

@keyframes puterin {
	100% {
		transform: rotate(360deg);
	}
}
@media screen and (max-width: 768px){
	.container {
		width:90%;
	}
	header h1 {
		text-align: center;
		float: none;
	}
	header ul {
		text-align: center;
		float: none;
	}
	.box .col-4 {
		width:100%;
		float: none;
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 750px){
	.container {
		width:90%;
	}
	header h1 {
		text-align: center;
		float: none;
	}
	header ul {
		text-align: center;
		float: none;
		
	}
	header ul li {
		width: 150px;
		border-bottom: #4a4a4a 4px solid;
		padding: 0%;
		margin: 10px 10px;
	}
	.banner h2 {
		font-size: 15pt;
		margin-left: 20px;
	}
	.banner a {
		font-size: 10pt;
		width: 175px;
		margin-left: 15px;
	}
	.banner
	{
		background-image: url('../img/welcomeBannerPhone.jpg');
	}
	.aboutTitle h3 {
		font-size: 15pt;
	}
	.part1 img {
		width: 300px;
		
	}
	.part1 {
		margin: auto;
	}
	.part1 ul li {
		float: none;
		width: 300px;
		padding: 0 50px;
	}
	.unchanged h4{
		width: 320px;

	}
	.unchanged {
		margin: auto;
	}
	.strokepredict {
		width: 320px;
	}
	.bundle output {
		width: 70px;
		font-size: 10pt;
		text-align: center;
		margin-right: 2%;
	}
	.display2
	{
		font-size: 12pt;
	}
	#inputan, #inputan2, #inputan3{
		width: 30%;
	}
	#inputumur {
		width: 20%;
	}

}